<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learn Interactive</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">

    <header th:insert="header :: header"></header>

    <div class="row">
        <div th:insert="sidebar :: sidebar-1"></div>

        <div class="content">
            <div class="inner-content">
                Контент
            </div>
        </div>

        <div class="sidebar-2">
            <div class="inner-sidebar-2">
                Боковая панель #2
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="inner-footer">Футер</div>
    </div>

</div>

</body>
</html>