<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Символы химических элементов</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">

    <header th:insert="header :: header"></header>

    <div class="row">

        <div th:insert="sidebar :: sidebar-1"></div>

        <div class="content">
            <div class="inner-content">
                <p>ХИМИЧЕСКИЕ ЭЛЕМЕНТЫ</p>
                <p>Программа для изучения символов химических элементов</p>
                <p>Введение</p>
                <ul>
                    <li>Данная программа предназначена для самостоятельного изучения символов химических элементов</li>
                    <li>В программе изучаются только самые необходимые элементы</li>
                    <li>Далее на двух слайдах приводится список изучаемых элементов - это и есть правильные ответы.</li>
                    <li>Символы изучаются в два захода, сначала металлы, потом неметаллы.</li>
                    <li>В начале изучения будет много ошибок, в дальнейшем процент ошибок должен стать меньше</li>
                    <li>Целью программы является не набрать 100%, а выучить все символы – в дальнейшем это поможет проще
                        писать формулы веществ и уравнения химических реакций. Это поможет получить большее удовольствие
                        от уроков химии.
                    </li>
                    <li>Для корректного выполнения программы, надо разрешить выполнение макросов</li>
                    <li>При открытии файла в верхней части окна</li>
                </ul>
                <p>Инструкция</p>

                <ul>
                    <li>В верхней части слайда выводится полное название элемента</li>
                    <li>В нижнее окно надо ввести его символ и нажать клавишу Ввод (Enter)</li>
                    <li> Регистр букв (большие/маленькие) надо соблюдать</li>
                    <li> Для того, чтобы ввести заглавную букву, надо нажать клавишу Shift и удерживая её нажатой нажать
                        необходимую буквенную клавишу
                    </li>
                    <li> В случае правильного ответа программа перейдёт к следующему элементу</li>
                    <li> В случае неверного ответа, программа покажет правильный ответ</li>
                    <li> В нижней части слайда выводится информация о результативности обучения (общее количество
                        вопросов, общее количество правильных ответов, процент правильных ответов)
                    </li>
                </ul>

                <img src="/symbolsMe.jpg" alt="" width="300">
                <img src="/symbolsNonMe.jpg" alt="" width="300"><br>


                <a href="/symbolsMeTest">Металлы</a><br>
                <a href="/symbolsNonMeTest">Неметаллы</a>
            </div>
        </div>

        <!--        <div class="sidebar-2">-->
        <!--            <div class="inner-sidebar-2">-->
        <!--                Боковая панель #2-->
        <!--            </div>-->
        <!--        </div>-->

    </div>

    <div class="footer">
        <div class="inner-footer">Футер</div>
    </div>

</div>

</body>
</html>